@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@config "../tailwind.config.js";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #121b14;

    --card: #ffffff;
    --card-foreground: #121b14;

    --popover: #ffffff;
    --popover-foreground: #121b14;

    --primary: #13ec80;
    --primary-foreground: #121b14;

    --secondary: #609175;
    --secondary-foreground: #ffffff;

    --muted: #f2f7f4;
    --muted-foreground: #609175;

    --accent: #f2f7f4;
    --accent-foreground: #121b14;

    --destructive: #ef4444;
    --destructive-foreground: #fafafa;

    --border: #dae7e0;
    --input: #dae7e0;
    --ring: #13ec80;

    --radius: 0.5rem;
  }

  .dark {
    --background: #0b1d12;
    --foreground: #fafafa;

    --card: #0b1d12;
    --card-foreground: #fafafa;

    --popover: #0b1d12;
    --popover-foreground: #fafafa;

    --primary: #13ec80;
    --primary-foreground: #121b14;

    --secondary: #609175;
    --secondary-foreground: #ffffff;

    --muted: #212e28;
    --muted-foreground: #9cb8a9;

    --accent: #212e28;
    --accent-foreground: #fafafa;

    --destructive: #7f1d1d;
    --destructive-foreground: #fafafa;

    --border: #212e28;
    --input: #212e28;
    --ring: #13ec80;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-display;
  }
}

@layer components {
  .auth-card {
    @apply max-w-130 w-full bg-white dark:bg-black/20 dark:backdrop-blur-xl border border-border-light dark:border-white/5 rounded-2xl shadow-2xl p-8 lg:p-12 animate-in;
  }

  .auth-bg {
    @apply min-h-screen flex flex-col bg-background-light dark:bg-background-dark;
  }
}

/*Background*/
.bg-gradient-mesh {
  background-color: #f6f8f7;
  background-image:
    radial-gradient(at 0% 0%, rgba(19, 236, 128, 0.05) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(19, 236, 128, 0.08) 0px, transparent 50%);
}

.dark .bg-gradient-mesh {
  background-color: #102219;
  background-image:
    radial-gradient(at 0% 0%, rgba(19, 236, 128, 0.1) 0px, transparent 50%),
    radial-gradient(at 100% 100%, rgba(19, 236, 128, 0.05) 0px, transparent 50%);
}

/* transitions */
* {
  @apply transition-colors duration-200;
}

